#Ignore node_modules folder
frontend/node_modules
backend/node_modules
backend-nest/node_modules
backend-graphql/node_modules
frontend-graphql/node_modules

#Ignore dist folder
frontend/dist
backend-nest/dist
frontend-graphql/dist

#Ignore .idea folder
.idea

#Ignore coverage folder
frontend/coverage
backend/coverage
backend-nest/coverage
backend-graphql/coverage
frontend-graphql/coverage

#Ignore logs folder
backend/logs
