{
  "env": {
    "es6": true
  },
  "rules": {
    "no-var": "error",
    "semi": "error",
    "indent": "error",
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "max-len": ["warn", {
      "code": 150
    }],
    "no-unused-vars": "error",
    "no-restricted-imports": "error",
    "import/prefer-default-export": "error"
  },
  "plugins": [
    "import"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  }
}